.home {
  background: url(../public/glassesImage/background.jpg) no-repeat;
  height: 100vh;
  width: 1000px;
}

.glasses__card {
  margin-top: 30px;
  justify-content: center;
  overflow: hidden;
}

.glasses__model {
  background-image: url('/public/glassesImage/model.jpg');
  background-position: center top;
  background-size: cover;
  height: 300px;
}

.glasses__model img {
  position: absolute;
  top: 26%;
  left: 42%;
  width: 147px;
  height: 44px;
  opacity: 0.9
}

.glasses__card {
  position: relative;
  overflow: hidden;
  background-color: white;
}

.glasses__info {
  position: absolute;
  bottom: 0;
  left: 362px;
  background-color: #c2c39fb3;
  width: 25%;
  color: white;
}
